* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active-mine {
  background-image: url('https://jaumesegarra.github.io/minesweeper/favicon.ico');
  background-size: contain;
}

.game {
  width: 90%;
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mine-box,
#field {
  background-color: #bdbdbd;
  border: 2px outset #f2f2f2;
}

.mine-box {
  width: 25px;
  height: 25px;
}

.mine-box:active {
  border: 2px inset #f2f2f2;
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: none;
}

.result-box {
  padding: 50px;
  width: 30%;
}

.safe {
  background-color: #bdbdbd;
  border: 2px solid #7b7b7b;
}

#field {
  position: relative;
  padding: 10px;
  margin-top: 50px;
  width: 280px;
  display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#lose {
  text-align: center;
}

#lose button {
  margin-top: 20px;
  padding: 5px;
}

#lose,
#win {
  display: none;
}
