* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.redbox {
  height: 10px;
  background-color: purple/*#970000*/;
  font-size: 10px;
  color: orange;
}

.whitebox {
  height: 10px;
  background-color: #ccc;;
  border: 1px solid blue;
}
